<% if candidate.errors.any? %>
  <ul>
    <% candidate.errors.full_messages.each do |message| %>
       <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(candidate) do |form| %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :party %>
  <%= form.text_field :party %>
</div>

<div>
  <%= form.label :age %>
  <%= form.text_field :age %>
</div>

<div>
  <%= form.label :politics %>
  <%= form.text_area :politics %>
</div>

<%= form.submit %>

<% end %>
